@import '../../../../assets/variables/variables';

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.title-movies {
 display: flex;
 justify-content: center;
}

.title-movies h3{
    text-transform: uppercase;
    font-family: Poppins;
    margin-bottom: 1rem;
    border-bottom: 2px solid $border-bottom-color;
}
