
@import './../../../../assets/variables/variables';

.movie-details-container {
  font-family: Poppins;
}

.movie-title {
  font-weight: 600;
}

img {
  margin-left: 5rem;
  width: 80%;
  height: 350px;
}

.movie-category,
.movie-actors,
.movie-directors {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.movie-discription {
  margin-top: 1rem;
  font-size: 1rem;
}

.back-button img {
  margin-left: 5px;
  width: 50px;
  height: 50px;
}

.content-section-tabs {
  display: table;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-top: 20px;
  margin-left: -470px;

}

ul li {
  display: inline;
  margin-left: 40px;

}

ul li a{
  text-decoration: none;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 600;
  color:$text-color;
}

.today{
    border-bottom:2px solid $border-bottom-color;
}

.table {
  font-family: Poppins;

}

.theatre-address {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

.evening-show,
.night-show {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color:$show-time-color;
}
