<!-- ====================================== MOVIE DETAILS ===================== -->

<div class="container-fluid shadow-lg mt-3 p-3 movie-details-container">
  <div class="row">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ movie.bannerUrl }}" alt="image" />
      </div>
      <div class="col-md-8 mx-auto movie-details p-3">
        <div class="movie-title">
          <h2>{{ movie.name }}</h2>
        </div>
        <div class="movie-category">
          <span>{{ movie.category }}</span>
        </div>
        <div class="movie-actors">
          <span>Actors &nbsp;&nbsp;&nbsp;:&nbsp; {{ movie.actor }}</span>
        </div>
        <div class="movie-directors">
          <span>Director &nbsp;&nbsp; : &nbsp;{{ movie.director }}</span>
        </div>
        <div class="movie-discription">
          <p>{{ movie.description }}</p>
        </div>
        <div class="back-button">
          <a href=""
            ><img
              src="../../../../assets/images/back.png"
              alt=""
              routerLink="/"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======================= SHOW TIMING AND AVAILABILITY ===================== -->
<div class="container-fluid shadow-lg mt-4 p-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="content-section-tabs">
        <ul>
          <li>
            <a href="">
              <span class="today">Today</span>
            </a>
          </li>
          <li>
            <a href="">
              <span>Tommarow</span>
            </a>
          </li>
        </ul>
      </div>
      <div></div>
      <hr />

      <table class="table">
        <tbody>
          <tr>
            <th>
              PVR Cinemas
              <div>
                <span class="theatre-address">
                  Latur Nanded Rd, Vasarani,
                  Nanded, Maharashtra 431606</span
                >
              </div>
            </th>
            <td><a href=""></a></td>
            <td><a href="" class="evening-show" routerLink="/seats">07:30 PM</a></td>
            <td><a href="" class="night-show" routerLink="/seats">09:45 PM</a></td>
          </tr>
          <tr>
            <th>
              Bharat E Square Multiplex
              <div>
                <span class="theatre-address">
                  3rd Floor, Meera Mall,Canal Road, Samarth Nagar, Nanded,
                  Maharashtra 431605
                </span>
              </div>
            </th>
            <td><a href="" class="evening-show" routerLink="/seats"><span>07:30 PM</span></a></td>
            <td><a href="" class="night-show" routerLink="/seats"><span>09:45 PM</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
