<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#">
      <img
        src="../../../../assets/images/logo.svg"
        alt="logo"
        height="50"
        style="margin-top: 5px"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ml-3">
          <a
            class="nav-link active home"
            aria-current="page"
            href="#"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Home"
            (click)="setFilterString('all')"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active movies"
            aria-current="page"
            href="#"
            data-toggle="tooltip"
            data-placement="bottom"
            title="MOVIES"
            (click)="setFilterString('Drama')"
            >MOVIES</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active play"
            aria-current="page"
            href="#"
            data-toggle="tooltip"
            data-placement="bottom"
            title="PLAY"
            (click)="setFilterString('Plays')"
            >PLAY</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active theatre"
            aria-current="page"
            href="#"
            data-toggle="tooltip"
            data-placement="bottom"
            title="THEATRE"
            >THEATRE</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn btn-link px-3 me-2 login-button"
          routerLink="/login"
        >
          <i class="fas fa-user-alt" style="font-size: 20px"></i> Login
        </button>
        <button type="button" class="btn btn-primary me-3 signup-button">
          Sign up for free
        </button>
      </div>
    </div>
  </div>
</nav>
